.toast{
    position: absolute; 
    bottom: 5%;
    left: 5%;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: white;
    border-bottom: 3px solid green;
}

.show{
    visibility: visible;
    }
.hide {
    visibility: hidden;
}